body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
#navbar li {
    float: left;
}
#navbar li:hover {
    background-color: rgba(150, 146, 146, 0.5);
}
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}   
.main {
    width: 80%;
    padding: 20px;
    margin: 30px auto;
    text-align: center;
}
.list { 
    display: inline-block; 
    text-align: left; 
    margin-top: -10px;
}
#kentucky-image {
    width: 80%;
}
.img-container {
    width: 100%;
}
#headshot {
    width: 200px;
    border-radius: 50%;
    border: 2px solid black;
}
#linkedin {
    color: rgb(68, 68, 202);
}
#linkedin:hover {
    color: rgb(110, 110, 192);
}
#my-name {
    margin-top: 75px;
}
#tata-img {
    width: 80%;
}
@media (max-width: 400px) {
    #navbar {
        display: flex;
        font-size: 14px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #navbar li {
        width: 33%;
    }
    #headshot {
        width: 100px;
        border-radius: 50%;
        border: 2px solid black;
    }
    h2 {
        font-size: 18px;
    }
    ul {
        font-size: 14px;
    }
}